/*body Styling*/
body {
    background-color: #D8DA7A;
    color: #6F2DA8;
    font-family: 'Courier New', Courier, monospace;
  }

/*.faqs Styling*/
.faqs {
    text-align: center;
}

/*.flex Styling*/
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

/*.navOff Styling*/
.navOff {
    background-color: #FFFFFF;
    font-size: 2em;
    font-weight: bold
}

/*.navOff:active Styling*/
.navOff:active {
    transform: scale(0.96);
}

/*.navOff:hover Styling*/
.navOff:hover {
    filter: sepia(100%);
}

/*.navOn Styling*/
.navOn {
    background-color: #00FF00;
    font-size: 2em;
    font-weight: bold;
}

/*.navOn:active Styling*/
.navOn:active {
    transform: scale(0.96);
}

/*.navOn:hover Styling*/
.navOn:hover {
    filter: sepia(100%);
}